/* base page stuff */
center {
    color: white;
}

.avatar {
    border-radius: 50%;
    height: 128px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Segoe UI';
}

#footer {
    position: fixed;
    bottom: 0;
    vertical-align: bottom;
    width: auto;
    height: 24px;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #242424;
    color: #ffffff;
    font-family: 'Segoe UI';
}

.clickable {
    cursor: pointer;
}

/* cards */
.icon {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    vertical-align: middle;
}

.card {
    width: 500px;
    display: inline-block;
    background-color: #a2a2a20f;
    border-radius: 25px;
    padding-top: 20px;
    margin: 5px;
    padding-bottom: 20px;
}

.name {
    font-size: 20px;
    vertical-align: middle;
}

.ranking {
    font-size: 67.5px;
    color: #7d26cd;
    line-height: 48px;
    vertical-align: middle;
}

.large {
    font-size: 20px;
    vertical-align: middle;
}

.small {
    font-size: 12px;
    vertical-align: middle;
}

.extrasmall {
    font-size: 10px;
    vertical-align: middle
}

.extra {
    color: #a2a2a2;
}

/* progress bars */
.pb {
    height: 25px;
    background-color: #0004;
    border-radius: 25px;
}

.pb > span {
    display: block;
    height: 100%;
    border-radius: 25px;
    background-color: blue;
    position: relative;
}

.pb.cardfooter {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

/* modals */
#modal-bg {
    width: 100%;
    height: 100%;
    background-color: #000c;
    position: fixed;
    top: 0;
    left: 0;
    animation-name: ModalOpen2;
    animation-duration: 500ms;
}

@keyframes ModalOpen {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }

    to {
        width: 640px;
        height: 480px;
        opacity: 1;
    }
}

@keyframes ModalOpen2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Loading spinner */
.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    transform: translateZ(0);
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* test */

.progress-ring {

}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
