@model BotCore.DataModel.Server
<div class="clickable card" onclick="document.location='/leaderboards/@Model.DiscordServerId'">
	<img class='icon' loading='lazy' src='@Model.IconUrl'>
	<a class="name">@Model.Name</a><br>
	<a class="description">@Model.MemberCount members</a>
</div>
