@model BotCore.DataModel.DServerUser
<div class="clickable card" onclick="OpenModal(document.location.href+'/@Model.GlobalUser.DiscordUserId')">
		<a class="ranking">@ViewData["i"]</a>
		<svg class="progress-ring icon" width="64" height="64" loading="lazy">
    <clipPath id="clipCircle" clipPathUnits="objectBoundingBox">
        <circle r=".5" cx=".5" cy=".5" />
    </clipPath>
    <circle class="progress-ring__circle" stroke="white" stroke-width="4" fill="transparent" r="28" cx="50%" cy="50%"/>
    <image clip-path="url(#clipCircle)" height="56" width="56" x="50%" y="50%" transform="translate(-28,-28)" href="@Model.GlobalUser.AvatarUrl" data-yes="${a.discordUserId}"/>
</svg>
<!--		<img class='icon' loading='lazy' async accessKey='${a.discordUserId}' src='${a.avatarUrl}'>-->
		<a class="large">@Model.GlobalUser.Username<a class="extrasmall"></a></a><br>
		<a class="large">@Model.XpLevel</a>
		<a class="small extra">(@Model.Xp/@Model.XpGoal XP)</a><br>
		<div class='pb cardfooter'>
			<span class="cardfooter" style='width: @Model.XpLevel * 100%;'></span>
		</div>
	</div>